// @import url("./font.scss");
// @use "./font.scss";

/** =======================================
  * reset
*/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "NanumBarunGothic", "Malgun Gothic", "dotum", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul,
li,
dl,
dt,
dd,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
}
em,
i {
  font-style: normal;
}

/** =======================================
  * common style
*/
.alt-txt {
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

/** =======================================
  * root
*/
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  #container {
    flex-grow: 1;
  }
}
