@font-face {
  font-family: "NanumBarunGothic";
  font-weight: 300;
  font-display: swap;
  src: url("/src/client/assets/font/NanumBarunGothic/NanumBarunGothic.eot");
  src: local("?"), url("/src/client/assets/font/NanumBarunGothic/NanumBarunGothic.woff2") format("woff2"), url("/src/client/assets/font/NanumBarunGothic/NanumBarunGothic.woff") format("woff"), url("/src/client/assets/font/NanumBarunGothic/NanumBarunGothic.ttf") format("truetype");
}
